body {
	margin: 0; 
}
header {
	overflow: hidden;
	padding: 20px 10px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
	margin: 0 auto;
}
.logo{
	float: left;
}
.header-right {
	display: flex;
	float: right;
}
nav {
	display: flex;
}
nav li{ 
	display: inline-block;
}	
nav a{
	margin: 0px 21px 0px 21px;
	font-size: 14px;
	vertical-align: middle;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
}
nav a:hover{
	text-decoration: underline;
}
.content{
	padding-right:-10px;
	display: inline-block;
	padding-left: 0px;
}
.content li{ 
margin: 0px 10px 10px 0px;
	display: inline-block;
}	
.content img{
	width: 360px; height: 360px;
}
.button {
	display:inline-block;
	float: right;
	text-align:center;
	padding: 15px 60px 15px 60px;
	right: 160px;
	font-size: 15px;
	background: #FFFFFF;
	border: 1px solid #BDBDBD;
	box-sizing: border-box;
	border-radius: 5px;
}
.button:hover { 
	border: 1px solid #3205F3; 
}
.container {
	margin: 0 auto;
	width: 1120px;
	text-align: center;
}
.header-text h1 {
	font-size: 40px;
	color: #171717;
}
.header-text p {
	font-size: 15px;
	color: #5F5F5F;
}
.box {
	
	width: 1120px;
	display: inline-flex;
	justify-content: space-between;
	margin: 20px 0px 20px 0px;
}
.box div{
	
}
.values-box {
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	margin-right: 20px;
	font-size: 14px;
	padding: 12px 1px 1px 20px;
	text-align: justify;
}
.sort-box {
	
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	margin-right: 20px;
	font-size: 14px;
	padding: 12px 1px 1px 20px;
	text-align: justify;
	min-width:460px;
}
.values-box input[type='radio'] {
	width: 25px;
	height: 25px;
	background: #FFFFFF;
	border: 2px solid #BDBDBD;
	box-sizing: border-box;
	border-radius: 4px;
	margin-top:-4px;
}
.values-box input[type='checkbox'] {
	width: 25px;
	height: 25px;
	background: #FFFFFF;
	border: 2px solid #BDBDBD;
	box-sizing: border-box;
	border-radius: 4px;
	margin-top:-4px;
}

.show-box {
	display: inline-block;
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	float: left;
	margin-right: 20px;
	font-size: 14px;
	padding: 12px 1px 1px 20px;
	min-width:390px;
}
.sort-text {
	line-height: 25px;
	float: left;
	text-transform: uppercase;
}
.box input {
	vertical-align: text-top;
	
}
.box label{
	padding-left: 15px;
	padding-right: 15px;
	line-height: 25px;
	font-size: 15px;
}
.apply-button {
	margin-right: 10px;
	float: right;
	text-align:center;
	color: #FFFFFF;
	text-decoration: none;
	font-style: normal;
	padding: 15px 60px 15px 60px;
	font-size: 15px;
	background: #3205F3;
	border-radius: 5px;
}
footer {
	background: #EBEBEB;
	text-align: center;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
	padding: 20px; 
	color: #5F5F5F;
}
footer a {
	text-align: center;
	margin: 0px 5px 0px 5px;
	overflow: visible;
	color: #5F5F5F;
}
.footer-text {
	margin-top: 15px;
}
.social-list {
	padding-left: 0px;
}
.social-list li{
	display: inline-block;
}
.pagination {
	width: 100%;
	padding-left:0px;
}
.pagination li{
	padding-top: 20px;
	margin-right:-4px;
	width: 60px;
	height: 60px;
	display: inline-block;
	vertical-align: middle;
	background: #FFFFFF;
	border: 1px solid #BDBDBD;
	box-sizing: border-box;
}
.pagination .prev-next{
	width: 105px;
	height: 60px;
	border-radius: 5px;
}
.pagination .prev-next:first-child {
	margin-right: 5px;
}
.pagination .prev-next:last-child {
	margin-left: 5px;
}
.pagination li:nth-child(2) {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.pagination li:nth-last-child(2) {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#checked {
	background: #F0F0FF;
	border: 1px solid #0000B7;
}
.modal {
	text-align: left;
	height: 470px;  
	width: 590px;
	background: #FFFFFF;
	top: 20%;
	right: 0;
	left: 0;
	margin: 0 auto;
	z-index:2;
	display: none; 
	position: fixed;
	border-radius: 5px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
}
.modal-container {
	font-size: 15px; 
	line-height: 31px;
	margin: 0 auto;
	width: 360px;
	color: #171717;
}
.modal-container h2{
	font-size: 40px;
}
.modal-container input{
	width: 360px;
	height: 60px;
	border: 1px solid #BDBDBD;
	box-sizing: border-box;
	border-radius: 5px;
}
.modal-container input[type='text'] {
	font-size: 27px;
}
.modal-container input[type='password'] {
	font-size: 37px;
}
#input-error{
	border: 1px solid #D50000;
}
#input-check{
	border: 1px solid #1400D5;
}
.modal-container a{
	float: right;
}
.sign-in-button{
	color: #FFFFFF;
	margin: 0;
	text-decoration: none;
	font-style: normal;
	font-size: 15px;
	background: #3205F3;
	border-radius: 5px;
}
#shadow { 
	position: fixed;
	width:100%;
	height:100%;
	z-index:1;
	background:#000;
	opacity: 0.89;
	left:0;
	top:0;
}