body {
	box-sizing: border-box;
	margin: 0; 
	padding: 0;
}
header {
	overflow: hidden;
	padding: 20px 10px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
	margin: 0 auto;
}
.header-container {
	display: flex;
	justify-content: space-between;
}
.header-right {
	display: flex;
}
nav li{ 
	display: inline-block;
}	
nav a{
	margin: 0px 21px 0px 21px;
	font-size: 14px;
	vertical-align: middle;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
}
nav a:hover{
	text-decoration: underline;
}
.content{
	padding-left: 0px;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}
.content li{ 
margin: 0 13px 10px 0;
}	
.content img{
	width: 360px; height: 360px;
}
.button {
	display:inline-block;
	text-align:center;
	padding: 15px 60px 15px 60px;
	right: 160px;
	font-size: 15px;
	background: #FFFFFF;
	border: 1px solid #BDBDBD;
	box-sizing: border-box;
	border-radius: 5px;
}
.button:hover { 
	background: #F5F5F5;
	border: 1px solid #1400D5;
	box-sizing: border-box;
	border-radius: 5px;
}
.button:focus{
	background: #F0F0FF;
	border: 1px solid #1400D5;
	box-sizing: border-box;
	outline: none;
}
.container {
	margin: 0 auto;
	width: 1120px;
}
.header-text {
	text-align:center;
}
.header-text h1 {
	font-size: 40px;
	color: #171717;
}
.header-text p {
	font-size: 15px;
	color: #5F5F5F;
}
.box {
	display: flex;
	justify-content: space-between;
	text-align: center;	
	margin: 20px 0px 20px 0px;
}
.box div{
	
}
.values-box {
	display: flex;
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	margin: 0 auto 0 0;
	font-size: 14px;
	padding: 12px 20px 1px 20px;
	
}
.sort-box {
	
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	margin-right: 20px;
	font-size: 14px;
	padding: 12px 1px 1px 20px;
	text-align: justify;
	min-width:460px;
}
.container-check {
	margin: 0 0 0 25px;
	position: relative;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.container-check input {
	display: none;
}
.checkmark {
	position: absolute;
	left: -15px;
	height: 25px;
	width: 25px;
	background: #FFFFFF;
	border: 2px solid #BDBDBD;
	box-sizing: border-box;
	border-radius: 4px;
}
.radiomark {
	position: absolute;
	left: -15px;
	height: 25px;
	width: 25px;
	background: #FFFFFF;
	border: 2px solid #BDBDBD;
	box-sizing: border-box;
	border-radius: 25px;
}
.container-check span:after {
	content: "";
	position: absolute;
	display: none;
}
.container-check input:checked ~ span:after {
	display: block;
}
.container-check .checkmark:after {
	left: 7px;
	top: 3px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.container-check .radiomark:after {
 	top: 3px;
	left: 3px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #3205F3;
}
.container-check:hover input ~ span {
	border: 2px solid #3205F3;
}
.container-check input:checked ~ .radiomark {
	background-color: #FFFFFF;
	border: 2px solid #3205F3;
}
.container-check input:checked ~ .checkmark {
	background-color: #3205F3;
	border: 2px solid #3205F3;
}
.show-box {
	display: inline-block;
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	margin-right: 20px;
	font-size: 14px;
	padding: 12px 1px 1px 20px;
	min-width:390px;
}
.sort-text {
	line-height: 25px;
	text-transform: uppercase;
}
.box input {
	vertical-align: text-top;
	
}
.box label{
	padding-left: 15px;
	padding-right: 15px;
	line-height: 25px;
	font-size: 15px;
}
.apply-button {
	margin-right: 10px;
	text-align:center;
	color: #FFFFFF;
	text-decoration: none;
	font-style: normal;
	padding: 15px 60px 15px 60px;
	font-size: 15px;
	background: #3205F3;
	border-radius: 5px;
}
.apply-button:hover {
	background: #1400D5;
}
.apply-button:focus {
	background: #0000B7;
}
footer {
	background: #EBEBEB;
	text-align: center;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box; 
	padding: 20px; 
	color: #5F5F5F;
}
footer a {
	text-align: center;
	margin: 0px 5px 0px 5px;
	overflow: visible;
	color: #5F5F5F;
}
.footer-text {
	margin-top: 15px;
}
.social-list {
	padding-left: 0px;
}
.social-list li{
	display: inline-block;
}
.pagination {
	width: 100%;
	padding-left:0px;
}
.pagination li{
	padding-top: 20px;
	margin-right:-4px;
	width: 60px;
	height: 60px;
	display: inline-block;
	vertical-align: middle;
	background: #FFFFFF;
	border: 1px solid #BDBDBD;
	box-sizing: border-box;
}
.pagination li:hover{
	background: #F5F5F5;
	border: 1px solid #1400D5;
	box-sizing: border-box;
}
.pagination .prev-next{
	width: 105px;
	height: 60px;
	border-radius: 5px;
}
.pagination .prev-next:first-child {
	margin-right: 5px;
}
.pagination .prev-next:last-child {
	margin-left: 5px;
}
.pagination a:nth-child(2) li{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.pagination a:nth-last-child(2) li{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#checked {
	background: #F0F0FF;
	border: 1px solid #0000B7;
}
.modal {
	text-align: left;
	height: 470px;	
	width: 590px;
	background: #FFFFFF;
	top: 20%;
	right: 0;
	left: 0;
	margin: 0 auto;
	z-index:2;
	display: none; 
	position: fixed;
	border-radius: 5px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
}
.modal-container {
	
	font-size: 15px; 
	line-height: 31px;
	margin: 0 auto;
	width: 360px;
	color: #171717;
}
.modal-container h2{
	font-size: 40px;
}
.modal-container input{
	width: 360px;
	height: 60px;
	border: 1px solid #BDBDBD;
	box-sizing: border-box;
	border-radius: 5px;
}
.modal-container input[type='text'] {
	font-size: 27px;
}
.modal-container input[type='password'] {
	font-size: 37px;
}
#input-error{
	border: 1px solid #D50000;
}
.modal-container input:hover{
	border: 1px solid #1400D5;
}
.modal-container a{
float: right;
}
.sign-in-button{
	color: #FFFFFF;
	margin: 0;
	text-decoration: none;
	font-style: normal;
	font-size: 15px;
	background: #3205F3;
	border-radius: 5px;
}
.sign-in-button:hover {
	background: #1400D5;
}
.sign-in-button:focus {
	background: #0000B7;
}
#shadow { 
	display: none;
	position: fixed;
	width:100%;
	height:100%;
	z-index:1;
	background:#000;
	opacity: 0.89;
	left:0;
	top:0;
}
.info {
	background-color: rgba(23, 23, 23, 0.9);
	color: #fff;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.product_link:hover .info,
.product_link:focus .info {
	display: flex;
}
.product_link {
	display: block;
	position: relative;
}

.info_name {
	font-size: 26px;
	margin: 0;
}

.info_type {
	font-size: 15px;
	margin: 0;
}