body {
	margin: 0; 
}
header {
	 
	overflow: hidden;
	padding: 20px 10px;
	/*width: 100%;*/
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
	/*margin-bottom: 20px;*/
	margin: 0 auto;
}
.logo{
	float: left;
	/*padding-left: 10%;*/
}
.header-right {
	display: flex;
	float: right;
	/*padding-right: 10%;*/
}
nav {
	display: flex;
}
nav li{ 
	display: inline-block;
}	
nav ul {

}
nav a{
	margin: 0px 21px 0px 21px;
	font-size: 14px;
	vertical-align: middle;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
}
nav a:hover{
	text-decoration: underline;
}
.content{
	
	padding-right:-10px;
	display: inline-block;
	
	padding-left: 0px;
}
.content li{ 
margin: 0px 10px 10px 0px;
	display: inline-block;
}	
.content img{
	width: 360px; height: 360px;
}
.button {
	display:inline-block;
	float: right;
	text-align:center;
	padding: 15px 60px 15px 60px;
	right: 160px;
	font-size: 15px;
	background: #FFFFFF;
	border: 1px solid #BDBDBD;
	box-sizing: border-box;
	border-radius: 5px;
}
.button:hover { 
	border: 1px solid #3205F3; 
}
.container {
	margin: 0 auto;
	width: 1120px;
	text-align: center;
	/*margin: 0 10% 0 10%;*/
}
.header-text h1 {
	font-size: 40px;
	color: #171717;
}
.header-text p {
	font-size: 15px;
	color: #5F5F5F;
}
.box {
	
	width: 1120px;
	display: inline-flex;
	justify-content: space-between;
	/*overflow: hidden;
	white-space:nowrap;*/ 
	margin: 20px 0px 20px 0px;
}
.box div{
	
}
.values-box {
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	/*float: right;*/
	margin-right: 20px;
	font-size: 14px;
	padding: 12px 1px 1px 20px;
	text-align: justify;
}
.sort-box {
	
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	/*box-sizing: border-box;*/
	border-radius: 5px;
	/*float: right;*/
	margin-right: 20px;
	/*width: 40%;*/
	font-size: 14px;
	padding: 12px 1px 1px 20px;
	text-align: justify;
	min-width:460px;
}
.show-box {
	display: inline-block;
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	/*box-sizing: border-box;*/
	border-radius: 5px;
	float: left;
	margin-right: 20px;
	/*width: 40%;*/
	font-size: 14px;
	padding: 12px 1px 1px 20px;
	min-width:390px;
}
.sort-text {
	line-height: 25px;
	float: left;
	text-transform: uppercase;
}
.box input {
	vertical-align: text-top;
	
}
.box label{
	padding-left: 20px;
	padding-right: 20px;
	line-height: 25px;
	font-size: 15px;
}
.apply-button {
	margin-right: 10px;
	float: right;
	text-align:center;
	color: #FFFFFF;
	text-decoration: none;
	font-style: normal;
	padding: 15px 60px 15px 60px;
	font-size: 15px;
	background: #3205F3;
	border-radius: 5px;
}
footer {
	background: #EBEBEB;
	/*position: absolute;
	padding-top: 50px;*/
	text-align: center;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
	padding: 20px; 
	color: #5F5F5F;
}
footer a {
	text-align: center;
	margin: 0px 5px 0px 5px;
	overflow: visible;
	color: #5F5F5F;
}
.footer-text {
	margin-top: 15px;
}
.social-list {
	padding-left: 0px;
}
.social-list li{
	display: inline-block;
}
.pagination {
	width: 100%;
	padding-left:0px;
}
.pagination li{
	padding-top: 20px;
	margin-right:-4px;
	width: 60px;
	height: 60px;
	display: inline-block;
	vertical-align: middle;
	background: #FFFFFF;
	border: 1px solid #BDBDBD;
	box-sizing: border-box;
}
.pagination .prev-next{
	width: 105px;
	height: 60px;
	border-radius: 5px;
}
.pagination .prev-next:first-child {
	margin-right: 5px;
}
.pagination .prev-next:last-child {
	margin-left: 5px;
}
.pagination li:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.pagination li:first-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#checked {
	background: #F0F0FF;
	border: 1px solid #0000B7;
}